<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814478425513-dlv4sl6h6dsm4s9mv8fj0bfbpgpvn4jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814478425513-dlv4sl6h6dsm4s9mv8fj0bfbpgpvn4jg</string>
	<key>API_KEY</key>
	<string>AIzaSyDRmV47Q8WCySgeD7VEMOY10WthqGIKmIA</string>
	<key>GCM_SENDER_ID</key>
	<string>814478425513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haystackshopping.Haystack</string>
	<key>PROJECT_ID</key>
	<string>haystack-d35a2</string>
	<key>STORAGE_BUCKET</key>
	<string>haystack-d35a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:814478425513:ios:d14bc356ed3923f6abd8b8</string>
	<key>DATABASE_URL</key>
	<string>https://haystack-d35a2.firebaseio.com</string>
</dict>
</plist>
